body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0068bf;
}

.freimaurer {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header,
.freimaurer {
    margin-left: 10px;
}

.freimaurer-nav {
    margin-bottom: 1em;
}

.freimaurer-nav a {
    cursor: pointer;
}


li {
    list-style-type: none;
}

.element-item {
    margin-bottom: 33px;
}

.element-item img {
    height: auto;
    width: 95%;
}

article {
    text-align: center;
    min-height: 400px;
    padding: 2em 0;
}

article ul,
article ol,
article p {
    font-size: 120%;
    margin: auto;
    width: 90%;
    text-align: left;
    margin-bottom: 1em;

}

@media screen and (min-width: 40em) {
    article ul,
    article ol {
        margin: auto;
        width: 40%;
        text-align: left;
        margin-bottom: 1em;
    }

    article p {
        width: 40%;
        margin-bottom: 1em;
    }
}

article ul li {
    list-style-type: disc;
}

article ol li {
    list-style-type: decimal;
}

article h2 {
    padding-top: 1em;
    font-size: 250%;
    text-transform: uppercase;
}

/* ------- */

article.about,
article.credits,
article.license {
    background: #C6E4FD;
}